.about {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.about__wrapper {
  width: 270px;
  margin: 0 auto;
}

.about .button {
  display: none;
}

.about__title {
  padding-top: 33px;
  padding-left: 24px;
  margin-bottom: 18px;

  @include font-parametrs(24px, $orange-title, 700, 24px);
}

.about__text {
  padding: 0;
  margin: 0;

  @include font-parametrs(16px, $white, 300, 22px);
  padding-left: 24px;
  padding-right: 35px;
  margin-bottom: 20px;
}

.about__text--call {
  font-weight: 700;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .about {
    width: $tablet-width;
    margin: 0 auto;
  }

  .about__wrapper {
    width: 688px;
    margin: 0 auto;
  }

  .about .button {
    display: block;
    margin-left: 35px;
  }

  .about__title {
    padding-left: 34px;
    padding-top: 42px;
    font-size: 45px;
    margin-bottom: 38px;
    line-height: 45px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/about-tablet@1x.png");
      width: 376px;
      height: 548px;
      left: 344px;
      top: 48px;
      z-index: -1;
    }
  }

  .about__text {
    font-size: 28px;
    line-height: 33px;
    padding-left: 34px;
    padding-right: 0;
    width: 300px;
    margin-bottom: 33px;
  }

  .about__text--call {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 163px;
  }

  .about__wrapper {
    width: 100%;
  }

  .about .button {
    margin-left: 71px;
  }

  .about__title {
    padding-top: 132px;
    padding-left: 70px;
    margin-bottom: 57px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/about-desktop@1x.png");
      width: 630px;
      height: 665px;
      left: 690px;
      top: 85px;
      z-index: -1;
    }
  }

  .about__text {
    padding-left: 71px;
    width: 620px;
    margin-bottom: 39px;
  }

  .about__text--call {
    width: 410px;
    margin-bottom: 84px;
  }
}
