.calendar {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.calendar__days {
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 31px;
}

.calendar__days-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;

  @include font-parametrs(14px, #444444, 400, 18px);
}

.calendar__days-item--tablet {
  display: none;
}

.calendar__days-item--weekend {
  color: #ff5c23;
}

.calendar__numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 221px;
  box-sizing: border-box;
  border-top: 1px solid #cbced9;
  border-left: 1px solid #cbced9;
}

.calendar__numbers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 0;

  @include font-parametrs(14px, rgba(68, 68, 68, 0.3), 18px, 400);
  width: 31px;
  height: 31px;
  border-right: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;

  &:hover {
    border: 2px solid #ff5c23;
    margin-top: -1px;
    margin-left: -1px;
  }
}

.calendar__numbers-item:nth-of-type(11),
.calendar__numbers-item:nth-of-type(13),
.calendar__numbers-item:nth-of-type(16),
.calendar__numbers-item:nth-of-type(18),
.calendar__numbers-item:nth-of-type(2),
.calendar__numbers-item:nth-of-type(20),
.calendar__numbers-item:nth-of-type(23),
.calendar__numbers-item:nth-of-type(25),
.calendar__numbers-item:nth-of-type(27),
.calendar__numbers-item:nth-of-type(30),
.calendar__numbers-item:nth-of-type(34),
.calendar__numbers-item:nth-of-type(37),
.calendar__numbers-item:nth-of-type(39),
.calendar__numbers-item:nth-of-type(4),
.calendar__numbers-item:nth-of-type(41),
.calendar__numbers-item:nth-of-type(6),
.calendar__numbers-item:nth-of-type(9) {
  width: 32px;
}

.calendar__numbers-item:nth-of-type(32) {
  width: 33px;
}

.calendar__numbers-item--next {
  background-color: #edeff6;
  color: #444444;
}

.calendar__numbers-item--active {
  background-color: $navy-blue;
  color: #ffffff;
}

.calendar__numbers-item--emphasize {
  margin-top: -1px;
  margin-left: -1px;
  height: 32px;
  border: 2px solid #ff5c23;
}

@media (min-width: $tablet-width) {
  .calendar__days {
    width: 531px;
    height: 33px;
  }

  .calendar__days-item {
    width: 77px;
  }

  .calendar__days-item--tablet {
    display: flex;
    margin-left: 3px;

    @include fonts(18px,30px,400);
    font-family: $main-font;
    letter-spacing: 2px;
  }

  .calendar__days-item--mobile {
    display: none;
  }

  .calendar__numbers {
    width: 531px;
  }

  .calendar__numbers-item {
    width: 74px;
    height: 69px;

    @include fonts(20px,18px,500);
    font-family: $main-font;
  }

  .calendar__numbers-item:nth-of-type(11),
  .calendar__numbers-item:nth-of-type(13),
  .calendar__numbers-item:nth-of-type(16),
  .calendar__numbers-item:nth-of-type(18),
  .calendar__numbers-item:nth-of-type(2),
  .calendar__numbers-item:nth-of-type(20),
  .calendar__numbers-item:nth-of-type(23),
  .calendar__numbers-item:nth-of-type(25),
  .calendar__numbers-item:nth-of-type(27),
  .calendar__numbers-item:nth-of-type(30),
  .calendar__numbers-item:nth-of-type(34),
  .calendar__numbers-item:nth-of-type(37),
  .calendar__numbers-item:nth-of-type(39),
  .calendar__numbers-item:nth-of-type(4),
  .calendar__numbers-item:nth-of-type(41),
  .calendar__numbers-item:nth-of-type(6),
  .calendar__numbers-item:nth-of-type(9) {
    width: 78px;
  }

  .calendar__numbers-item:nth-of-type(32) {
    width: 79px;
  }
}

@media (min-width: $desktop-width) {
  .calendar__days {
    width: 1000px;
    height: 44px;
  }

  .calendar__days-item {
    width: 143px;
  }

  .calendar__days-item--tablet {
    justify-content: flex-start;
    margin-left: 16px;
  }

  .calendar__numbers {
    width: 1001px;
  }

  .calendar__numbers-item {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 15px;
    width: 140px;
    height: 71px;

    @include fonts(20px,18px,400);
    font-family: $main-font;

    &:hover {
      border: 2px solid #ff5c23;
      margin-top: -2px;
      margin-left: -2px;
    }
  }

  .calendar__numbers-item:nth-of-type(11),
  .calendar__numbers-item:nth-of-type(13),
  .calendar__numbers-item:nth-of-type(16),
  .calendar__numbers-item:nth-of-type(18),
  .calendar__numbers-item:nth-of-type(2),
  .calendar__numbers-item:nth-of-type(20),
  .calendar__numbers-item:nth-of-type(23),
  .calendar__numbers-item:nth-of-type(25),
  .calendar__numbers-item:nth-of-type(27),
  .calendar__numbers-item:nth-of-type(30),
  .calendar__numbers-item:nth-of-type(34),
  .calendar__numbers-item:nth-of-type(37),
  .calendar__numbers-item:nth-of-type(39),
  .calendar__numbers-item:nth-of-type(4),
  .calendar__numbers-item:nth-of-type(41),
  .calendar__numbers-item:nth-of-type(6),
  .calendar__numbers-item:nth-of-type(9) {
    width: 144px;
  }

  .calendar__numbers-item:nth-of-type(6) {
    position: relative;

    &::before {
      position: absolute;
      content: "мар";
      left: 30px;
    }
  }

  .calendar__numbers-item:nth-of-type(32) {
    position: relative;
    width: 144px;
    letter-spacing: 1.8px;
    font-weight: 400;

    &::before {
      position: absolute;
      content: "Заезд";
      left: 13px;
      top: 38px;
    }
  }

  .calendar__numbers-item:nth-of-type(34) {
    position: relative;
    letter-spacing: 1.8px;
    font-weight: 400;

    &::before {
      position: absolute;
      content: "Выезд";
      left: 13px;
      top: 38px;
    }
  }

  .calendar__numbers-item:nth-of-type(38) {
    position: relative;

    &::before {
      position: absolute;
      content: "апр";
      left: 30px;
    }
  }
}
