.contacts-list {
  @include list-reset;
  display: block;
  margin-bottom: 40px;
}

.contacts-item {
  margin-bottom: 23px;
  position: relative;
}

.contacts-item a {
  text-decoration: none;

  @include font-parametrs(16px, $navy-blue, 700, 22px);
  text-transform: uppercase;
}

.contacts-item--phone {
  position: relative;

  &::before {
    position: absolute;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%0Awidth='18' height='18' viewBox='0 0 36 36' style='enable-background:new 0 0 36 36;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffd74b;%7D%0A%3C/style%3E%3Cpath class='st0' d='M18,0C11.6,0,5.2,1.1,2.8,3.4C0.9,5.3,0.2,8.7,0,10.8c0,0,0,0.2,0,0.3c0,0.8,0.7,1.5,1.5,1.5 c0.1,0,3.7-0.3,5.9-0.5c0.1,0,0.1,0,0.2,0c0.8,0,1.5-0.7,1.5-1.5l0-3C9,6.7,9.7,6,10.7,6h14.7C26.2,6,27,6.7,27,7.7l0,3 c0,0.8,0.7,1.5,1.5,1.5c0.1,0,0.1,0,0.2,0c2.2,0.2,5.8,0.5,5.9,0.5c0.8,0,1.5-0.7,1.5-1.5c0-0.1,0-0.3,0-0.3 c-0.2-2.1-0.9-5.5-2.8-7.4C30.8,1.1,24.4,0,18,0z M18,19.5c-1.7,0-3,1.3-3,3s1.3,3,3,3c1.7,0,3-1.3,3-3S19.7,19.5,18,19.5z M15.7,12.7v-1.9c0-1-0.8-1.9-1.9-1.9S12,9.8,12,10.9v1.9L1.9,23.6c-0.7,0.7-1.1,1.6-1.1,2.7v3c0,1.7,1.3,3,3,3h0.8v1.9 c0,1,0.8,1.9,1.9,1.9s1.9-0.8,1.9-1.9v-1.9h19.5v1.9c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9v-1.9h0.8c1.7,0,3-1.3,3-3v-3 c0-1.1-0.4-2-1.1-2.7L24,12.7v-1.9c0-1-0.8-1.9-1.9-1.9s-1.9,0.8-1.9,1.9v1.9H15.7z M18,16.5c3.3,0,6,2.7,6,6c0,3.3-2.7,6-6,6 c-3.3,0-6-2.7-6-6C12,19.2,14.7,16.5,18,16.5z'/%3E%3C/svg%3E%0A");
    top: -16px;
    left: -61px;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 8px;
    padding-left: 14px;
    background-color: $navy-blue;
    border-radius: 50%;
  }
}

.contacts-item--mail {
  position: relative;

  &::before {
    position: absolute;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%0Awidth='18' height='13' viewBox='0 0 36 26' style='enable-background:new 0 0 36 26;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffd74b;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,23c0,1.6,1.3,3,3,3h30c1.7,0,3-1.3,3-3V3c0-1.6-1.3-3-3-3H3C1.3,0,0,1.3,0,3L0,23L0,23z M11,13L4.2,6.2 c-0.6-0.6-0.6-1.5,0-2c0.6-0.6,1.5-0.6,2.1,0l11,10.9c0.4,0.4,1.2,0.4,1.6,0l11-10.9c0.6-0.6,1.5-0.6,2.1,0c0.6,0.6,0.6,1.5,0,2 L25,13l6.9,6.8c0.6,0.6,0.6,1.5,0,2c-0.6,0.6-1.5,0.6-2.1,0l-6.9-6.8c0,0-2.1,2.2-2.5,2.5c-0.6,0.6-1.4,1-2.4,1 c-0.9,0-1.8-0.4-2.4-1c-0.4-0.4-2.5-2.5-2.5-2.5l-6.9,6.8c-0.6,0.6-1.5,0.6-2.1,0c-0.6-0.6-0.6-1.5,0-2L11,13z'/%3E%3C/svg%3E%0A");
    top: -16px;
    left: -61px;
    padding-top: 15px;
    padding-right: 13px;
    padding-bottom: 8px;
    padding-left: 14px;
    background-color: $navy-blue;
    border-radius: 50%;
  }
}

.page-header__contacts-list {
  display: none;
}

.page-header--active .page-header__contacts-list {
  display: block;
  order: 5;
  margin-left: 61px;
  width: 100%;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .contacts-item a {
    @include font-parametrs(28px, $navy-blue, 700, 28px);
  }

  .contacts-item {
    margin-bottom: 38px;
  }

  .contacts-item--phone {
    position: relative;

    &::before {
      position: absolute;
      content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%0Awidth='27' height='27' viewBox='0 0 36 36' style='enable-background:new 0 0 36 36;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffd74b;%7D%0A%3C/style%3E%3Cpath class='st0' d='M18,0C11.6,0,5.2,1.1,2.8,3.4C0.9,5.3,0.2,8.7,0,10.8c0,0,0,0.2,0,0.3c0,0.8,0.7,1.5,1.5,1.5 c0.1,0,3.7-0.3,5.9-0.5c0.1,0,0.1,0,0.2,0c0.8,0,1.5-0.7,1.5-1.5l0-3C9,6.7,9.7,6,10.7,6h14.7C26.2,6,27,6.7,27,7.7l0,3 c0,0.8,0.7,1.5,1.5,1.5c0.1,0,0.1,0,0.2,0c2.2,0.2,5.8,0.5,5.9,0.5c0.8,0,1.5-0.7,1.5-1.5c0-0.1,0-0.3,0-0.3 c-0.2-2.1-0.9-5.5-2.8-7.4C30.8,1.1,24.4,0,18,0z M18,19.5c-1.7,0-3,1.3-3,3s1.3,3,3,3c1.7,0,3-1.3,3-3S19.7,19.5,18,19.5z M15.7,12.7v-1.9c0-1-0.8-1.9-1.9-1.9S12,9.8,12,10.9v1.9L1.9,23.6c-0.7,0.7-1.1,1.6-1.1,2.7v3c0,1.7,1.3,3,3,3h0.8v1.9 c0,1,0.8,1.9,1.9,1.9s1.9-0.8,1.9-1.9v-1.9h19.5v1.9c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9v-1.9h0.8c1.7,0,3-1.3,3-3v-3 c0-1.1-0.4-2-1.1-2.7L24,12.7v-1.9c0-1-0.8-1.9-1.9-1.9s-1.9,0.8-1.9,1.9v1.9H15.7z M18,16.5c3.3,0,6,2.7,6,6c0,3.3-2.7,6-6,6 c-3.3,0-6-2.7-6-6C12,19.2,14.7,16.5,18,16.5z'/%3E%3C/svg%3E%0A");
      top: -26px;
      left: -90px;
      padding-top: 22px;
      padding-right: 20px;
      padding-bottom: 14px;
      padding-left: 20px;
      background-color: $navy-blue;
      border-radius: 50%;
    }
  }

  .contacts-item--mail {
    position: relative;

    &::before {
      position: absolute;
      content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%0Awidth='27' height='20' viewBox='0 0 36 26' style='enable-background:new 0 0 36 26;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffd74b;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,23c0,1.6,1.3,3,3,3h30c1.7,0,3-1.3,3-3V3c0-1.6-1.3-3-3-3H3C1.3,0,0,1.3,0,3L0,23L0,23z M11,13L4.2,6.2 c-0.6-0.6-0.6-1.5,0-2c0.6-0.6,1.5-0.6,2.1,0l11,10.9c0.4,0.4,1.2,0.4,1.6,0l11-10.9c0.6-0.6,1.5-0.6,2.1,0c0.6,0.6,0.6,1.5,0,2 L25,13l6.9,6.8c0.6,0.6,0.6,1.5,0,2c-0.6,0.6-1.5,0.6-2.1,0l-6.9-6.8c0,0-2.1,2.2-2.5,2.5c-0.6,0.6-1.4,1-2.4,1 c-0.9,0-1.8-0.4-2.4-1c-0.4-0.4-2.5-2.5-2.5-2.5l-6.9,6.8c-0.6,0.6-1.5,0.6-2.1,0c-0.6-0.6-0.6-1.5,0-2L11,13z'/%3E%3C/svg%3E%0A");
      top: -23px;
      left: -91px;
      padding-top: 24px;
      padding-right: 20px;
      padding-bottom: 17px;
      padding-left: 21px;
      background-color: $navy-blue;
      border-radius: 50%;
    }
  }

  .page-header--active .page-header__contacts-list {
    margin-left: 148px;
    order: 5;
    margin-bottom: 110px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--active .page-header__contacts-list {
    margin: 0;
    padding: 0;
    display: none;
  }

  .contacts-item {
    margin-bottom: 0;
  }
}

@media (min-width: $mobile-width) and (max-width: 1439px) {
  .page-header--nojs .page-header__contacts-list {
    display: block;
    order: 5;
    margin-left: 61px;
    width: 100%;
    margin-bottom: 28px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .page-header--nojs .page-header__contacts-list {
    margin-left: 148px;
    order: 5;
    margin-bottom: 110px;
  }
}
