.country-list {
  display: none;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 42px;
  width: 220px;
  height: 475px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
  font-family: $main-font;

  ul {
    display: flex;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $navy-blue;
  }
}

.country-list__menu {
  position: absolute;
  top: -42px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 42px;
  background-color: $navy-blue;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  span {
    @include discard;
    margin-left: 12px;
    margin-top: 2px;

    @include fonts(14px,18px,600);
  }

  &::before {
    z-index: -1;
    position: absolute;
    content: " ";
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
  }
}

.country-list__close {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 3px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &::after,
  &::before {
    position: absolute;
    content: " ";
    left: 10px;
    top: 17px;
    width: 13px;
    height: 1px;
    background-color: #616d8d;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: #ffffff;
  }

  &:active::after,
  &:active::before {
    background-color: #2f3f68;
  }
}

.country-list--show {
  display: flex;
}

.country-list__letters {
  @include discard;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  width: 220px;
  height: 245px;
}

.country-list__letters-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 40px;

  @include fonts(14px,18px,500);
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;

  &:hover {
    border-color: #959bb2;
  }

  &:active {
    background-color: $navy-blue;
  }

  &:active a {
    color: #ffffff;
  }
}

.country-list__letters-item--active {
  background-color: #edeff6;
}

.country-list__letters-item:nth-of-type(1),
.country-list__letters-item:nth-of-type(11),
.country-list__letters-item:nth-of-type(16),
.country-list__letters-item:nth-of-type(21),
.country-list__letters-item:nth-of-type(26),
.country-list__letters-item:nth-of-type(6) {
  width: 42px;
}

.country-list__letters-item:nth-of-type(26),
.country-list__letters-item:nth-of-type(27),
.country-list__letters-item:nth-of-type(28),
.country-list__letters-item:nth-of-type(29),
.country-list__letters-item:nth-of-type(30) {
  height: 38px;
}

.country-list__names {
  @include discard;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 20px;
  flex-direction: column;
  width: 220px;
  height: 230px;

  @include fonts(16px,22px,500);
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  a {
    color: #767676;

    &:hover {
      color: #1d2e5b;
    }

    &:active {
      color: #bfc4d1;
    }
  }
}

@media (min-width: $tablet-width) {
  .country-list {
    top: 69px;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 33px;
    padding-left: 25px;
    width: 573px;
    height: 416px;
    border: none;

    &::after {
      position: absolute;
      content: " ";
      right: 207px;
      top: 0;
      width: 1px;
      height: 416px;
      background-color: #cccccc;
    }
  }

  .country-list__menu {
    left: -2px;
    top: -70px;
    width: 369px;
    height: 70px;

    span {
      @include discard;
      margin-left: 26px;
      margin-top: 2px;

      @include fonts(20px,18px,500);
      letter-spacing: 2px;
    }

    &::before {
      display: none;
    }
  }

  .country-list__close {
    left: -17px;

    &::after,
    &::before {
      top: 16px;
      left: 8px;
      width: 23px;
      height: 2px;
    }
  }

  .country-list__letters {
    box-sizing: border-box;
    width: 314px;
    height: 350px;
  }

  .country-list__letters-item {
    width: 51px;
    height: 68px;

    @include fonts(20px,18px,500);
  }

  .country-list__letters-item--active {
    background-color: $navy-blue;

    a {
      color: #ffffff;
    }
  }

  .country-list__letters-item:nth-of-type(1),
  .country-list__letters-item:nth-of-type(11),
  .country-list__letters-item:nth-of-type(16),
  .country-list__letters-item:nth-of-type(21),
  .country-list__letters-item:nth-of-type(26),
  .country-list__letters-item:nth-of-type(6) {
    width: 51px;
  }

  .country-list__letters-item:nth-of-type(26),
  .country-list__letters-item:nth-of-type(27),
  .country-list__letters-item:nth-of-type(28),
  .country-list__letters-item:nth-of-type(29),
  .country-list__letters-item:nth-of-type(30) {
    height: 68px;
  }

  .country-list__letters-item:nth-of-type(1),
  .country-list__letters-item:nth-of-type(13),
  .country-list__letters-item:nth-of-type(19),
  .country-list__letters-item:nth-of-type(25),
  .country-list__letters-item:nth-of-type(7) {
    width: 52px;
  }

  .country-list__letters-item:nth-of-type(25),
  .country-list__letters-item:nth-of-type(26),
  .country-list__letters-item:nth-of-type(27),
  .country-list__letters-item:nth-of-type(28),
  .country-list__letters-item:nth-of-type(29),
  .country-list__letters-item:nth-of-type(30) {
    height: 69px;
  }

  .country-list__names {
    padding: 0;
    margin: 0;
    margin-left: 52px;
    width: 160px;
    border: none;

    @include fonts(20px,30px,400);
  }
}

@media (min-width: $desktop-width) {
  .country-list {
    top: 69px;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 33px;
    padding-left: 25px;
    width: 730px;
    height: 476px;
    border: none;

    &::after {
      right: 242px;
      height: 476px;
      background-color: #cccccc;
    }
  }

  .country-list__menu {
    left: -2px;
    top: -70px;
    width: 730px;
    height: 70px;
  }

  .country-list__letters {
    box-sizing: border-box;
    width: 435px;
    height: 425px;
    border: none;
  }

  .country-list__letters-item {
    margin-right: 1px;
    width: 60px;
    height: 70px;

    @include fonts(20px,18px,500);
    border: 1px solid #cccccc;
  }

  .country-list__letters-item:nth-of-type(1),
  .country-list__letters-item:nth-of-type(11),
  .country-list__letters-item:nth-of-type(16),
  .country-list__letters-item:nth-of-type(21),
  .country-list__letters-item:nth-of-type(26),
  .country-list__letters-item:nth-of-type(6) {
    width: 60px;
  }

  .country-list__letters-item:nth-of-type(26),
  .country-list__letters-item:nth-of-type(27),
  .country-list__letters-item:nth-of-type(28),
  .country-list__letters-item:nth-of-type(29),
  .country-list__letters-item:nth-of-type(30) {
    height: 70px;
  }

  .country-list__letters-item:nth-of-type(1),
  .country-list__letters-item:nth-of-type(13),
  .country-list__letters-item:nth-of-type(19),
  .country-list__letters-item:nth-of-type(25),
  .country-list__letters-item:nth-of-type(7) {
    width: 60px;
  }

  .country-list__letters-item:nth-of-type(25),
  .country-list__letters-item:nth-of-type(26),
  .country-list__letters-item:nth-of-type(27),
  .country-list__letters-item:nth-of-type(28),
  .country-list__letters-item:nth-of-type(29),
  .country-list__letters-item:nth-of-type(30) {
    height: 70px;
  }
}
