.cta {
  background-color: #192144;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: -110px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background-color: #edeff6;
    border-radius: 0 0 30px 30px;
  }
}

.cta__wrapper {
  padding-top: 10px;
  width: 270px;
  margin: 0 auto;
  padding-bottom: 36px;
}


.cta__title {
  padding-top: 72px;

  @include font-parametrs(24px, $orange-title, 700, 24px);
  margin-bottom: 20px;
  text-align: center;
}

.cta__text {
  width: 200px;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;

  @include font-parametrs(16px, $white, 300, 22px);
  margin-bottom: 28px;

  &--question {
    width: 220px;
    text-align: center;
    display: block;
  }
}

.cta__link {
  text-decoration: underline;
  color: #ffd74b;

  &:hover {
    color: #ff8d30;
  }

  &:active {
    opacity: 0.3;
  }
}

.cta-form {
  display: flex;
  margin-bottom: 30px;
}

.cta-form__input {
  padding-top: 23px;
  padding-bottom: 21px;
  padding-left: 24px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  background-color: $white;
  border: none;

  @include font-parametrs(18px, #444, 700, 18px);

  &:hover {
    background-color: #edeff6;
  }

  &:focus {
    background-color: #192144;
    border: 4px solid $white;
  }

  &::placeholder {
    @include font-parametrs(18px, #444444, 700, 18px);
  }

  &:hover::placeholder {
    color: #98999d;
  }

  &:focus::placeholder {
    color: $white;
  }
}

.cta-form__input--error {
  background-color: #ffefef;

  &::placeholder {
    color: red;
  }
}

.cta-form__button {
  font-size: 0;
  width: 77px;
  border-radius: 10px;
  margin-left: -10px;
  position: relative;

  &::before {
    position: absolute;
    top: 24px;
    left: 27px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent $navy-blue;
  }
}

.cta__contacts-list {
  margin-left: 61px;
  margin-bottom: 0;
  padding-bottom: 0;

  a {
    color: #ffd74b;
  }
}

@media (min-width: $tablet-width) {
  .cta {
    position: relative;
    z-index: 4;
    border-radius: 0 0 60px 60px;
  }

  .cta__wrapper {
    padding-top: 110px;
    width: 688px;
    margin: 0 auto;
    padding-bottom: 38px;
  }

  .cta__title {
    padding-left: 2px;
    padding-top: 40px;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 56px;
  }

  .cta__text {
    width: 90%;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 64px;
  }

  .cta-form {
    margin-bottom: 59px;
  }

  .cta-form__input {
    width: 566px;
    margin: 0 auto;
    margin-left: 35px;
    padding-top: 31px;
    padding-left: 34px;
    padding-bottom: 31px;
    border-radius: 20px 0 0 20px;

    &::placeholder {
      font-size: 24px;
    }
  }

  .cta-form__button {
    width: 88px;
    border-radius: 0 20px 20px 0;
    margin-right: 35px;
    margin-left: -15px;

    &::before {
      top: 34px;
      left: 36px;
    }
  }

  .cta__contacts-list {
    margin-left: 126px;
  }
}

@media (min-width: $desktop-width) {
  .cta__wrapper {
    width: 1360px;
    margin: 0 auto;
    padding-bottom: 133px;
  }

  .cta__title {
    padding-top: 69px;
  }

  .cta__text {
    width: 650px;
    margin-bottom: 59px;
  }

  .cta-form {
    margin-bottom: 67px;
  }

  .cta-form__input {
    margin-left: 92px;
    width: 850px;
  }

  .cta-form__button {
    width: 337px;
    margin: 0;
    margin-right: 94px;
    padding-left: 36px;
    text-align: left;
    font-size: 24px;
    text-transform: capitalize;

    &::before {
      top: 33px;
      left: 279px;
    }
  }

  .cta__text--question {
    margin-bottom: 77px;
  }

  .cta__contacts-list {
    width: 746px;
    margin: 0 auto;
    padding-left: 115px;
    display: flex;
    justify-content: space-between;
  }

  .cta__contacts-list .contacts-item--phone {
    &:hover {
      color: #ffbd30;

      &::before {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%0AviewBox='0 0 36 36' style='enable-background:new 0 0 36 36;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E%0A.st0%7Bfill:%23ffbd30;%7D%0A%3C/style%3E%3Cpath class='st0' d='M18,0C11.6,0,5.2,1.1,2.8,3.4C0.9,5.3,0.2,8.7,0,10.8c0,0,0,0.2,0,0.3c0,0.8,0.7,1.5,1.5,1.5%0Ac0.1,0,3.7-0.3,5.9-0.5c0.1,0,0.1,0,0.2,0c0.8,0,1.5-0.7,1.5-1.5l0-3C9,6.7,9.7,6,10.7,6h14.7C26.2,6,27,6.7,27,7.7l0,3%0Ac0,0.8,0.7,1.5,1.5,1.5c0.1,0,0.1,0,0.2,0c2.2,0.2,5.8,0.5,5.9,0.5c0.8,0,1.5-0.7,1.5-1.5c0-0.1,0-0.3,0-0.3%0Ac-0.2-2.1-0.9-5.5-2.8-7.4C30.8,1.1,24.4,0,18,0z M18,19.5c-1.7,0-3,1.3-3,3s1.3,3,3,3c1.7,0,3-1.3,3-3S19.7,19.5,18,19.5z%0AM15.7,12.7v-1.9c0-1-0.8-1.9-1.9-1.9S12,9.8,12,10.9v1.9L1.9,23.6c-0.7,0.7-1.1,1.6-1.1,2.7v3c0,1.7,1.3,3,3,3h0.8v1.9%0Ac0,1,0.8,1.9,1.9,1.9s1.9-0.8,1.9-1.9v-1.9h19.5v1.9c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9v-1.9h0.8c1.7,0,3-1.3,3-3v-3%0Ac0-1.1-0.4-2-1.1-2.7L24,12.7v-1.9c0-1-0.8-1.9-1.9-1.9s-1.9,0.8-1.9,1.9v1.9H15.7z M18,16.5c3.3,0,6,2.7,6,6c0,3.3-2.7,6-6,6%0Ac-3.3,0-6-2.7-6-6C12,19.2,14.7,16.5,18,16.5z'/%3E%3C/svg%3E");
      }
    }

    &:active {
      opacity: 0.3;
    }

    &::before {
      padding: 0;
      content: "";
      top: -33px;
      left: -122px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%0Awidth='18' height='18' viewBox='0 0 36 36' style='enable-background:new 0 0 36 36;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffd74b;%7D%0A%3C/style%3E%3Cpath class='st0' d='M18,0C11.6,0,5.2,1.1,2.8,3.4C0.9,5.3,0.2,8.7,0,10.8c0,0,0,0.2,0,0.3c0,0.8,0.7,1.5,1.5,1.5 c0.1,0,3.7-0.3,5.9-0.5c0.1,0,0.1,0,0.2,0c0.8,0,1.5-0.7,1.5-1.5l0-3C9,6.7,9.7,6,10.7,6h14.7C26.2,6,27,6.7,27,7.7l0,3 c0,0.8,0.7,1.5,1.5,1.5c0.1,0,0.1,0,0.2,0c2.2,0.2,5.8,0.5,5.9,0.5c0.8,0,1.5-0.7,1.5-1.5c0-0.1,0-0.3,0-0.3 c-0.2-2.1-0.9-5.5-2.8-7.4C30.8,1.1,24.4,0,18,0z M18,19.5c-1.7,0-3,1.3-3,3s1.3,3,3,3c1.7,0,3-1.3,3-3S19.7,19.5,18,19.5z M15.7,12.7v-1.9c0-1-0.8-1.9-1.9-1.9S12,9.8,12,10.9v1.9L1.9,23.6c-0.7,0.7-1.1,1.6-1.1,2.7v3c0,1.7,1.3,3,3,3h0.8v1.9 c0,1,0.8,1.9,1.9,1.9s1.9-0.8,1.9-1.9v-1.9h19.5v1.9c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9v-1.9h0.8c1.7,0,3-1.3,3-3v-3 c0-1.1-0.4-2-1.1-2.7L24,12.7v-1.9c0-1-0.8-1.9-1.9-1.9s-1.9,0.8-1.9,1.9v1.9H15.7z M18,16.5c3.3,0,6,2.7,6,6c0,3.3-2.7,6-6,6 c-3.3,0-6-2.7-6-6C12,19.2,14.7,16.5,18,16.5z'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 36px 36px;
      background-position: center;
      background-color: #121936;

      @include wh(90px, 90px);
    }
  }

  .cta__contacts-list .contacts-item--mail {
    &:hover {
      color: #ffbd30;
    }

    &:active {
      opacity: 0.3;
    }

    &::before {
      padding: 0;
      content: "";
      top: -33px;
      left: -119px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%0Awidth='27' height='20' viewBox='0 0 36 26' style='enable-background:new 0 0 36 26;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffd74b;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,23c0,1.6,1.3,3,3,3h30c1.7,0,3-1.3,3-3V3c0-1.6-1.3-3-3-3H3C1.3,0,0,1.3,0,3L0,23L0,23z M11,13L4.2,6.2 c-0.6-0.6-0.6-1.5,0-2c0.6-0.6,1.5-0.6,2.1,0l11,10.9c0.4,0.4,1.2,0.4,1.6,0l11-10.9c0.6-0.6,1.5-0.6,2.1,0c0.6,0.6,0.6,1.5,0,2 L25,13l6.9,6.8c0.6,0.6,0.6,1.5,0,2c-0.6,0.6-1.5,0.6-2.1,0l-6.9-6.8c0,0-2.1,2.2-2.5,2.5c-0.6,0.6-1.4,1-2.4,1 c-0.9,0-1.8-0.4-2.4-1c-0.4-0.4-2.5-2.5-2.5-2.5l-6.9,6.8c-0.6,0.6-1.5,0.6-2.1,0c-0.6-0.6-0.6-1.5,0-2L11,13z'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 36px 36px;
      background-position: center;
      background-color: #121936;

      @include wh(90px, 90px);
    }
  }
}
