.catalog-main-footer {
  .main-footer__logo-image {
    margin-top: -9px;
  }
}

.main-footer {
  background-color: $white;
  margin-top: -3px;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
}

.main-footer__logo-image {
  padding-top: 3px;
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

.main-footer__social-list {
  @include list-reset;
  width: 135px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 36px;
}

.main-footer__social-list .social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #ffd74b;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: #192144;

    svg {
      fill: $white;
    }
  }
}

.main-footer .social-image {
  fill: $navy-blue;

  &:hover {
    fill: $white;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__social-list .social-image--fb {
  @include wh(11px, 21px);
}

.main-footer__social-list .social-image--vk {
  @include wh(23px, 12px);
}

.main-footer__social-list .social-image--inst {
  @include wh(18px, 18px);
}


.copyright__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
  width: 270px;
  margin: 0 auto;
  border-top: 1px solid rgba(68, 68, 68, 0.1);
}

.copyright__text {
  display: block;
  padding-top: 19px;

  @include font-parametrs(16px, rgba(68, 68, 68, 1), 400, 22px);
}

.copyright__logo {
  width: 27px;
  height: 34px;
  padding-top: 14px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-image {
  fill: #192144;
}

.page-header--active .page-header__logo {
  display: none;
}

.form-main-footer {
  position: relative;
  z-index: 13;
  margin-top: -10px;
}

.form-main-footer .main-footer__social-list {
  margin-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    z-index: 13;
    box-sizing: border-box;
    width: 100%;
  }

  .copyright__list {
    border-top: none;
    width: 160px;
  }

  .main-footer__wrapper {
    display: flex;
    width: 688px;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .main-footer__logo-image {
    @include wh(164px, 42px);
    margin: 0;
    padding: 0;
    margin-top: -2px;
  }

  .main-footer__social-list {
    position: relative;
    z-index: 2;
    width: 180px;
    margin-top: -1px;
    margin-left: 90px;
    justify-content: space-between;
  }

  .main-footer__social-list .social-item {
    margin-top: -9px;
    margin-left: 0;

    @include wh(60px, 60px);
  }

  .main-footer__social-list .social-image--fb {
    @include wh(14px, 28px);
  }

  .main-footer__social-list .social-image--vk {
    @include wh(31px, 16px);
  }

  .main-footer__social-list .social-image--inst {
    @include wh(24px, 24px);
  }

  .social-item__link {
    display: block;
  }

  .copyright__logo {
    margin-top: -11px;
  }

  .copyright__text {
    font-size: 20px;
    margin-top: -12px;
    padding-left: 5px;
  }

  .catalog-main-footer .main-footer__logo-image {
    margin-top: -7px;
  }

  .catalog-main-footer .main-footer__social-list {
    margin-top: -6px;
  }

  .catalog-main-footer .copyright__logo {
    margin-top: -15px;
  }

  .catalog-main-footer .copyright__text {
    margin-top: -8px;
  }

  .form-main-footer .copyright__text {
    margin-top: -3px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    width: 1320px;
  }

  .main-footer__logo-image {
    width: 198px;
    height: 52px;
  }

  .main-footer__social-list {
    margin-left: 371px;
    margin-top: 0;
  }

  .copyright__list {
    border-top: none;
  }

  .catalog-main-footer .main-footer__logo-image {
    margin-top: -5px;
    margin-left: 1px;
  }

  .catalog-main-footer .main-footer__social-list {
    margin-top: 1px;
  }

  .catalog-main-footer .copyright__logo {
    margin-top: -10px;
  }

  .catalog-main-footer .copyright__text {
    margin-top: -2px;
  }
}
