.map {
  background-image: url("../img/map-mobile@1x.jpg");
  min-height: 342px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  iframe {
    height: 432px;
    margin-top: -40px;
    margin-bottom: -50px;
    width: 100%;
    box-sizing: border-box;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    background-color: #ffd74b;
    border-radius: 0 0 30px 30px;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    background-color: $white;
    border-radius: 30px 30px 0 0;
  }
}

@media (min-width: $tablet-width) {
  .map {
    background-image: url("../img/map-tablet@1x.jpg");
    min-height: 531px;
    background-position: 30%;
    padding-bottom: 25px;


    iframe {
      height: 651px;
      margin-top: -40px;
      margin-bottom: -58px;
      box-sizing: border-box;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      height: 60px;
      background-color: #ffd74b;
      border-radius: 0 0 60px 60px;
    }

    &::before {
      position: absolute;
      z-index: 2;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      height: 60px;
      background-color: $white;
      border-radius: 60px 60px 0 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    background-image: url("../img/map-desktop@1x.jpg");
    min-height: 456px;
    margin-bottom: -2px;
    padding-bottom: 0;

    &::after {
      top: 0;
    }

    &::before {
      bottom: 0;
    }

    iframe {
      position: relative;
      height: 596px;
      z-index: 0;
      margin-top: -45px;
      margin-bottom: -41px;
    }
  }
}
