.page-title {
  padding-top: 17px;

  @include font-parametrs(36px, $white, 700, 40px);
  width: 240px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 244px;
}

@media (min-width: $tablet-width) {
  .page-title {
    width: 396px;

    @include font-parametrs(60px, $white, 700, 70px);
    margin: 0 auto;
    margin-bottom: 84px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    margin: 0;
    padding-top: 70px;
    text-align: left;
    padding-left: 67px;
    margin-right: auto;
  }
}
