.plans {
  position: relative;
  z-index: 2;
  padding-top: 28px;
  padding-bottom: 90px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #dfe3f0;
  counter-reset: section;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  width: 320px;
  margin-top: -60px;
}

.plans__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;

  @include font-parametrs(24px, #1d2e5b, 700, 24px);
}

.plans__point {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 22px;
  padding-left: 24px;
  border-radius: 10px;
  background-color: $white;

  h3 {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 17px;
    margin-bottom: 20px;

    @include font-parametrs(16px, #1d2e5b, 700, 16px);
    counter-increment: section;

    &::before {
      position: absolute;
      content: counter(section) ".";
      left: 0;
    }
  }

  span {
    @include font-parametrs(14px, #1d2e5b, 500, 14px);
    text-transform: uppercase;
    letter-spacing: 1.4px;
    white-space: pre;
  }

  span:first-of-type {
    margin-bottom: 5px;
  }

  span:last-of-type {
    margin-bottom: 23px;
  }

  a {
    margin-left: 3px;

    @include font-parametrs(14px, #b2b2b2, 500, 16px);
    letter-spacing: 1.4px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #5f6062;
    }

    &:active {
      color: #d5d7dd;
    }
  }
}

.plans__point:first-of-type {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .plans {
    padding: 50px 75px 134px;
    width: 768px;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
  }

  .plans__caption {
    margin: 0;
    padding: 0;
    margin-bottom: 41px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    margin-left: 35px;
  }

  .plans__point {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 11px;
    width: 618px;
    margin: 0 auto;

    &::before {
      position: absolute;
      content: "";
      top: 98px;
      left: 0;
      width: 618px;
      height: 1px;
      background-color: #eff0f4;
    }

    h3 {
      margin-top: 3px;
      padding-left: 12px;
      font-size: 24px;
      line-height: 50px;
      font-weight: 700;
      width: 550px;

      &::before {
        left: 547px;
        top: 17px;
        font-size: 20px;
        line-height: 18px;
        font-weight: 500;
      }
    }

    span {
      margin-left: 10px;
      margin-top: 21px;
      width: 140px;
      font-size: 20px;
      line-height: 18px;
      font-weight: 500;
      letter-spacing: 2px;
    }

    span:last-of-type {
      margin-left: 45px;
      margin-right: 10px;
      margin-bottom: 0;
      width: 180px;
    }

    a {
      margin-left: 70px;
      margin-top: 22px;
      font-size: 20px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .plans {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding-bottom: 123px;
    width: 1440px;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
  }

  .plans__caption {
    margin-left: 70px;
    margin-bottom: 40px;
  }

  .plans__point {
    margin-left: 65px;
    width: 1256px;
    height: 97px;


    h3 {
      margin: 0;
      padding: 0;
      padding-left: 70px;
      padding-top: 0;
      margin-right: 123px;
      width: 400px;

      &::before {
        left: 19px;
      }
    }

    span {
      margin-top: 17px;
      width: 140px;
      font-size: 20px;
      line-height: 18px;
      letter-spacing: 2px;
    }

    span:last-of-type {
      margin-left: 35px;
      margin-right: 10px;
      margin-bottom: 0;
      width: 180px;
    }

    a {
      margin-left: 119px;
      margin-top: 18px;
      font-size: 20px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 2px;
    }

    &::before {
      display: none;
    }
  }

  .plans__point:first-of-type {
    margin-bottom: 15px;
  }
}
