.review {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: -36px;
  position: relative;
  background-color: #161c35;
}

.review__wrapper {
  width: 270px;
  margin: 0 auto;
}

.review__text {
  padding-top: 48px;

  @include font-parametrs(16px, $white, 300, 22px);
  width: 56%;
  padding-left: 24px;
}

.review__author {
  display: block;

  @include font-parametrs(16px, $white, 700, 22px);
  font-style: normal;
  width: 66%;
  padding-left: 24px;
}

@media (min-width: 768px) {
  .review {
    padding-top: 0;
    background: none;
    margin: 0;
    padding-bottom: 179px;
  }

  .review__wrapper {
    padding-top: 0;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 11px;
    margin-bottom: 174px;
  }

  .review__text {
    padding-top: 0;

    @include font-parametrs(28px, $white, 300, 33px);
    width: 267px;
    margin-bottom: 45px;
  }

  .review__author {
    @include font-parametrs(21px, $white, 700, 25px);
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .review {
    margin: 0;
    padding: 0;
    width: 300px;
    padding-top: 53px;
    margin-left: 538px;
    margin-bottom: 82px;
  }
}
