.review {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.review__text {
  @include font-parametrs(16px, $white, 300, 22px);
  width: 56%;
  padding-left: 24px;
}

.review__author {
  display: block;

  @include font-parametrs(16px, $white, 700, 22px);
  font-style: normal;
  width: 66%;
  padding-left: 24px;
}

@media (min-width: 768px) {
  .review {
    width: 688px;
    padding-left: 10px;
    margin-bottom: 211px;
  }

  .review__text {
    @include font-parametrs(28px, $white, 300, 33px);
    width: 267px;
    margin-bottom: 45px;
  }

  .review__author {
    @include font-parametrs(21px, $white, 700, 25px);
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .review {
    margin: 0;
    padding: 0;
    width: 285px;
    padding-top: 53px;
    padding-right: 25px;
    margin-bottom: 114px;
  }
}
