.social-list {
  @include list-reset;
}

.social-item--fb {
  @include wh(11px, 21px);
}

.social-item--vk {
  @include wh(23px, 12px);
  padding-top: 4px;
  padding-left: 7px;
}

.social-item--inst {
  @include wh(18px, 18px);
  padding-top: 2px;
}

.page-header--active .social-list {
  @include list-reset;
  width: 105px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 42px;
}

.social-list img {
  opacity: 0.3;
}

.page-header__social-list {
  display: none;
}

.page-header--active .page-header__social-list {
  order: 6;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header--active .page-header__social-list {
    margin-left: 83px;
    width: 139px;
  }

  .social-item--fb img {
    @include wh(14px, 28px);
  }

  .social-item--vk img {
    @include wh(31px, 16px);
    padding-top: 3px;
    padding-right: 3px;
  }

  .social-item--inst img {
    @include wh(24px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .page-header--active .page-header__social-list {
    display: none;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $mobile-width) and (max-width: 1439px) {
  .page-header--nojs .social-list {
    @include list-reset;
    width: 105px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 42px;
  }

  .page-header--nojs .page-header__social-list {
    order: 6;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .page-header--nojs .page-header__social-list {
    margin-left: 83px;
    width: 139px;
  }
}
