@mixin font-parametrs($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: $main-font, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin pseudo($content: "", $pos: absolute, $display: block) {
  content: $content;
  position: $pos;
  display: $display;
}

@mixin wh($width: false, $height: false) {
  @if $width {
    width: $width;
  }

  @if $height {
    height: $height;
  }
}
