@import "normalize";
@import "blocks/animation.scss";
@import "global/fonts.scss";
@import "global/mixins.scss";
@import "global/vars.scss";
@import "blocks/page-header.scss";
@import "blocks/main-menu.scss";
@import "blocks/button.scss";
@import "blocks/contacts.scss";
@import "blocks/social-list.scss";
@import "blocks/background-wrapper.scss";
@import "blocks/connection.scss";
@import "blocks/page-title.scss";
@import "blocks/review.scss";
@import "blocks/intro.scss";
@import "blocks/about.scss";
@import "blocks/country.scss";
@import "blocks/travelmates.scss";
@import "blocks/rates.scss";
@import "blocks/business-rates.scss";
@import "blocks/cta-form.scss";
@import "blocks/location.scss";
@import "blocks/map.scss";
@import "blocks/main-footer.scss";
@import "blocks/filter.scss";
@import "blocks/alphabet.scss";
@import "blocks/travelmates-form.scss";
@import "blocks/traveler.scss";
@import "blocks/profile.scss";
@import "blocks/plans.scss";
@import "blocks/trip.scss";
@import "blocks/country-list.scss";
@import "blocks/calendar.scss";
@import "blocks/page-form.scss";
@import "blocks/pagination.scss";

.container--catalog .fixed-header {
  display: none;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
